body {
    margin: 0px;
    display: flex;
    background: #000;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
    width: 100%;
    height: 100vh;
}

p {
  display: flex;
  width: 85vw;
  height: 60%;
  justify-content: center;
  align-items: center;
  background: #000;
  color: #FFB4B4;
  font-size: 20vw;
  font-weight: 600;
  padding: 15px 10px;
  box-shadow: 0px 0px 80px #FFB4B4;
  border-radius: 20px;
  animation: scroller ease-in-out 3s,
             colorize ease infinite 5s;
  font-family: sans-serif;
}
 
 @keyframes scroller {
   0%{
     border: none;
     padding-left: 200%;
     color: #A5A5A5;
     box-shadow: 0px 0px 50px #FFFFFF;
   }
   100%{
     border: none;
     padding-left: 10px;
     color: #fff;
     box-shadow: 0px 0px 20px #000000;
   }
 }

@keyframes colorize {
  0% {
    filter: hue-rotate(0deg);
  }
  14.28% {
    filter: hue-rotate(51.42deg);
  }
  28.57% {
    filter: hue-rotate(102.85deg);
  }
  42.82% {
    filter: hue-rotate(154.28deg);
  }
  57.10% {
    filter: hue-rotate(205.71deg);
  }
  71.38% {
    filter: hue-rotate(257.14deg);
  }
  85.66% {
    filter: hue-rotate(308.56deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}